<launch>                                                                        
  <node pkg="image_publisher" type="image_publisher" name="image_publisher" args="$(find rviz)/images/splash.png">
    <!-- <param name="flip_horizontal" value="false" /> -->
    <!-- <param name="flip_vertical" value="false" /> -->
    <param name="frame_id" value="/uav62/bluefox3_front" />
    <param name="publish_rate" value="1" />
    <param name="camera_info_url" value="file:///$(find bluefox3)/config/calib/ost.yaml" />   <!-- relative to ~/.ros/ -->
  </node>
</launch>
